@model CarInfo.Models.CatalogModel.CatalogModel

<form method="post" enctype="multipart/form-data" asp-action="Edit">
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary">Edit Catalog</h2>
			<hr />
		</div>
        <div class="mb-3">
			<label asp-for="Mark"></label>
			<input asp-for="Mark" class="form-control" />
			<span asp-validation-for="Mark" class="text-danger"></span>
		</div>
        <div class="mb-3">
            <label asp-for="Country"></label>
            <input asp-for="Country" class="form-control" />
            <span asp-validation-for="Country" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Logo" class="custom-file-input"></label>
            <input asp-for="Logo" class="custom-file-input" accept="image/*" data-allowed-file-extensions='["jpg", "png" , "jpeg"]' required'  id="customFile" />
            <span asp-validation-for="Logo" class="text-danger"></span>
        </div>
		<button type="submit" class="btn btn-primary" style="width:150px">Update</button>
		<a asp-controller="Catalog" asp-action="AllCatalog" class="btn btn-secondary" style="width:150px">
			Back to List
		</a>
	</div>
</form>

