@model IEnumerable<CarInfo.Entities.CarType>

@{
    ViewData["Title"] = "CarType";
}

<body>
<div class="text-center">
    <h1 class="display-4">Category</h1>
</div>
<div class="container p-3">
        <div class="row pt-4">
            <div class="col-6">
            </div>
            @if(User.IsInRole(Helper.AdminRole))
            {
            <div class="col-6 text-end">
                  <a asp-controller="CarType" asp-action="Create" class="btn btn-success">
                  <i class="bi bi-plus-circle"></i> &nbsp; Create New</a>
            </div>
            }
        </div>
     <form asp-action="AllCarType" method="get">
        <div class="form-actions no-color">
            <p>
                 <input type="text" name="searchString" placeholder="Search.." style="width:200px"; "text-align:right" value="@ViewData["currentFilter"]" />
                 <button type="submit" class="btn btn-light">
                     <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                      <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                     </svg>
                 </button>
                 
            </p>
        </div>
    </form>
    <br /><br />

    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
        <tr>
              <th>
                Category
            </th>
            <th>
                Image
            </th>
            @if(User.IsInRole(Helper.AdminRole))
            {
            <th>
                Commands
            </th>
            }
        </tr>
        </thead>
        <tbody>
        @foreach(var obj in Model)
        {
            <tr>
                <td width="15%">
                    @obj.Category
                </td>
                <td width="15%">
                    <img id="myImg" onclick="myFunc(this)" src="~/Images/@obj.Image" alt="Images" style="width:40%;max-width:100">     
                    <div id="myModal" class="modal">                    
                     <span class="close">&times;</span>
                     <img class="modal-content" id="img01">
                     <div id="caption"></div>
                    </div>
                </td>
                @if(User.IsInRole(Helper.AdminRole))
                {
                <td width="10%">
                <div class="w-75 btn-group" role="group">
                  <a style="color:blue" asp-controller="CarType" asp-action="Edit" asp-route-id="@obj.Id">                      
                       <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                       <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                       </svg></a>                                                                                           
                  <a style="margin-left:10px; color:blue" asp-controller="CarType" asp-action="Delete" asp-route-id="@obj.Id">   
                       <svg  xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">                  
                       <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                       <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                       </svg></a>
                  </div>
                </td>
                }
                 
            </tr>
        }
        </tbody>
    </table>
</div>
</body>

<script>
    var modal = document.getElementById("myModal");

    var modalImg = document.getElementById("img01");
    var captionText = document.getElementById("caption");

    function myFunc(el){
        var ImgSrc=el.src;
        var altText=el.alt;
        modal.style.display = "block";
        modalImg.src = ImgSrc;
        captionText.innerHTML = this.altText;
    }

    var span = document.getElementsByClassName("close")[0];

    span.onclick = function() {
  modal.style.display = "none";
}
    
</script>









